.hidden {
  display: none !important;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.toTop {
  z-index: 999;
}

.common-btn {
  width: 39.33rem;
  height: 8.67rem;
  outline: none;
  border: none;
}

/* ==============================进度条区域========================== */
.game-tip-container {
  position: absolute;
  width: 100%;
  height: 24rem;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.67rem;
}

.music-flag {
  width: 4rem;
  height: 4rem;
  background: url(../assets/music_open.png) no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: 3rem;
}

.music-open {
  animation: rotateFlag 1.5s infinite linear;
}

@keyframes rotateFlag {
  to {
    transform: rotate(360deg);
  }
}

.game-tip {
  width: 44.08rem;
  height: 3.33rem;
  background: url(../assets/game-tip.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 1.33rem;
}

.game-progress {
  width: 55.83rem;
  height: 2.67rem;
  background: #e6f3f9;
  border-radius: 1.33rem;
  border: 0.17rem solid #fff6be;
  position: relative;
}

.game-progress-line {
  /* width: 55.4rem; */
  width: var(--progress);
  height: 2rem;
  background: linear-gradient(79deg, #95f2fd 0%, #d174ff 100%);
  border-radius: 1rem;
  position: absolute;
  top: 0.33rem;
  left: 0.33rem;
  transition: all 300ms;
}

/* ======================游戏说明============================== */
.game-desc-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: none;
  background: url(../assets/desc-placeholder.png) no-repeat;
  background-size: 100% 100%;
}

.game-desc {
  width: 45rem;
  height: 30rem;
  background: url(../assets/game-desc.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 58rem;
  position: relative;
}

.game-desc-container > p {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 2.17rem;
  color: #ffffff;
  line-height: 3.08rem;
  margin-bottom: 20rem;
}

/* ======================暂停游戏============================== */
.pause-desc {
  width: 62.5rem;
  height: 63.33rem;
  background: url(../assets/game-pause.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.continue-btn {
  margin-top: 33.66rem;
  margin-left: 11.58rem;
  background: url(../assets/continue-btn.png) no-repeat;
  background-size: 100% 100%;
}

.leave-btn {
  margin-top: 1.5rem;
  margin-left: 26.58rem;
  width: 9.33rem;
  height: 2.33rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 2.33rem;
  color: #222222;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
}

/* ======================游戏失败---有次数============================== */
.have-times {
  width: 62.5rem;
  height: 63.33rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-image: url(../assets/game-over-times.png);
  background-size: 100% 100%;
}

.start-btn {
  margin-top: 38.33rem;
  margin-left: 11.58rem;
  background: url(../assets/start-btn.png) no-repeat;
  background-size: 100% 100%;
}

/* ======================游戏失败---无次数============================== */

.no-times {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 62.5rem;
  height: 63.33rem;
  background-image: url(../assets/game-over-no-times.png);
  background-size: 100% 100%;
}

.invite-btn {
  margin-top: 43.17rem;
  margin-left: 11.58rem;
  background: url(../assets/invite-btn.png) no-repeat;
  background-size: 100% 100%;
}

/* ======================游戏通关============================== */
.success {
  width: 62.5rem;
  height: 99rem;
  background: url(../assets/game-success.png) no-repeat;
  background-size: 100% 100%;
}

#scoreNum {
  width: 75%;
  height: 7.33rem;
  font-family: DINAlternate, DINAlternate;
  font-weight: normal;
  font-size: 7.33rem;
  color: #222222;
  line-height: 7.33rem;
  margin-top: 37.58rem;
  text-align: center;
  margin-left: 8rem;
}

.lottery-btn {
  margin-left: 11.58rem;
  margin-top: -1rem;
  background: url(../assets/lottery-btn.png) no-repeat;
  background-size: 100% 100%;
}

.continue-text {
  margin-top: 1.5rem;
  margin-left: 26.58rem;
  width: max-content;
  height: 2.33rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 2.33rem;
  color: #222222;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
}
