.hidden {
  display: none !important;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 2;
}

.toTop {
  z-index: 999;
}

.common-btn {
  width: 39.33rem;
  height: 8.67rem;
  outline: none;
  border: none;
}

/* ======================分数面板============================== */
.score-panel {
  width: 27.67rem;
  height: 6rem;
  background: url(../assets/score-panel.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translate(-50%, 0);
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  line-height: 2.67rem;
  display: flex;
  align-items: center;
}

.score-panel > div {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#score,
#level {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 3.33rem;
  color: #ffffff;
}

/* ======================游戏说明============================== */
.game-desc-container {
  width: 100%;
  height: 100%;
  backdrop-filter: none;
  background: url(../assets/game-desc-placeholder.png) no-repeat;
  background-size: 100% 100%;
}

.game-desc-container .timeout {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 2.33rem;
  color: #ffffff;
  line-height: 3.33rem;
  letter-spacing: 1px;
  text-align: center;
}

/* ======================暂停游戏============================== */
.pause-desc {
  width: 62.5rem;
  height: 52.33rem;
  background: url(../assets/game-pause.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.continue-btn {
  width: 42.5rem;
  height: 10rem;
  margin-top: 33.92rem;
  margin-left: 10rem;
  background: url(../assets/continue-btn.png) no-repeat;
  background-size: 100% 100%;
}

.leave-btn {
  margin-top: 1rem;
  margin-left: 25rem;
  width: 12.5rem;
  height: 3.33rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 2.33rem;
  color: #222222;
  line-height: 3.3rem;
  cursor: pointer;
  text-align: center;
}

/* ======================游戏失败---有次数============================== */
.have-times {
  width: 62.5rem;
  height: 63.33rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-image: url(../assets/game-over-times.png);
  background-size: 100% 100%;
}

.start-btn {
  width: 42.5rem;
  height: 10rem;
  margin-top: 37.67rem;
  margin-left: 10rem;
  background: url(../assets/start-btn.png) no-repeat;
  background-size: 100% 100%;
}

/* ======================游戏失败---无次数============================== */

.no-times {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 62.5rem;
  height: 63.33rem;
  background-image: url(../assets/game-over-no-times.png);
  background-size: 100% 100%;
}

.invite-btn {
  width: 42.5rem;
  height: 10rem;
  margin-top: 42.5rem;
  margin-left: 10rem;
  background: url(../assets/invite-btn.png) no-repeat;
  background-size: 100% 100%;
}

/* ======================游戏通关============================== */
.success {
  width: 62.5rem;
  height: 60.83rem;
  background: url(../assets/game-success.png) no-repeat;
  background-size: 100% 100%;
  margin-top: -30rem;
}

.lottery-btn {
  width: 43.17rem;
  height: 10.67rem;
  margin-left: 9.67rem;
  margin-top: 64rem;
  background: url(../assets/lottery-btn.png) no-repeat;
  background-size: 100% 100%;
}

.continue-text {
  margin-top: 1.5rem;
  margin-left: 26.58rem;
  width: max-content;
  height: 2.33rem;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 2.33rem;
  color: #ffffff;
  line-height: 2.33rem;
  cursor: pointer;
  text-align: center;
}
